<<<<<<< HEAD
<div class="row">

    {{#each allCatalogsData}}
    <div class="span8">
        <div id="data-visuals"> {{title}}</div>
    </div>
    {{/each}}
</div>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Best Website</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body class="{{template}}">
    <div class="container">
        {{{body}}}

        <div class="row">

            {{#each allCatalogsData}}
            <div class="span8">
                <div id="data-visuals"> {{title}}</div>
            </div>
            {{/each}}
        </div>

    </div>

</body>

</html>
>>>>>>> a6c611dfe24f9a77b4af6238ba7ada7677f8d4bb
